<html data-wf-domain= "" data-wf-page="5e2da84586f417607e2264d4" data-wf-site="5cf034b11440ce56a8f376bf" class=" w-mod-js w-mod-ix"><head><meta charset="utf-8">
	<title>Code Sharing </title>

	<link rel="stylesheet" href="../static/2-2.css" type="text/css">
<!-- {{ url_for('static', filename='2-2.css') }} -->
 </head>

 <body class="body">
 	<div class="topline blue">
 	</div>

 	<div class="w-layout-grid grid-hero grid-margin top">
 		<a id="w-node-ef2ba7f64937-a7f64936" href="/" class="w-inline-block">
 			<img src="../static/images/logo.png" width="240" height="100" alt="" class="logo top">
 		</a>

 			<div id="w-node-ef2ba7f64939-a7f64936" data-w-id="25dabc39-8d3e-1049-fb1d-ef2ba7f64939" class="menu-wrapper">
 				<div class="hamburger-icon a"></div>
 				<div class="hamburger-icon b"></div>
 			</div>

 			<div id="w-node-ef2ba7f64947-a7f64936" class="w-layout-grid grid-contact-top m-row-2">
 				<div id="w-node-ef2ba7f64948-a7f64936" class="text-block-3 detail">Social
 				</div>
 				<div id="w-node-ef2ba7f6494a-a7f64936" class="text-block-3 link-top">
					<a href="http://jr.tjoeun.co.kr/?gclid=CjwKCAjw8df2BRA3EiwAvfZWaBnFuv3jDvE-L_4ne1220DOS3D-EnNagtMqFneDvRKr5wtQKKxKvnBoCfnkQAvD_BwE/" target="_blank" class="link-top">tJoeun</a>
 				</div>
 			</div>

 			<div id="w-node-ef2ba7f64952-a7f64936" class="menu-div-fixed m">
 				<h4 class="heading nav projekter">
 					<a href="/weather" data-w-id="25dabc39-8d3e-1049-fb1d-ef2ba7f64954" class="nav-menu nav-projekter">Weather <br></a>
 					<a href="/crop" data-w-id="25dabc39-8d3e-1049-fb1d-ef2ba7f64957" class="nav-menu nav-mbler">Crop<br></a>
 					<a href="/code" data-w-id="25dabc39-8d3e-1049-fb1d-ef2ba7f6495a" class="nav-menu nav-workshop">Code<br></a>
 				</h4>

 				<div id="w-node-ef2ba7f64962-a7f64936" class="nav-block nav-block-projekter" style="transform: translate3d(-47px, 0px, 0px) scale3d(0, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"></div>
 				<div id="w-node-ef2ba7f64963-a7f64936" class="nav-block nav-block-mbler" style="transform: translate3d(-39px, 0px, 0px) scale3d(0, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"></div>
 				<div id="w-node-ef2ba7f64964-a7f64936" class="nav-block nav-block-workshops" style="transform: translate3d(-58px, 0px, 0px) scale3d(0, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"></div>
 				<div id="w-node-ef2ba7f64965-a7f64936" class="nav-block nav-block-om" style="transform: translate3d(-54px, 0px, 0px) scale3d(0, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"></div>
 				<div id="w-node-ef2ba7f64966-a7f64936" class="nav-block nav-block-kontakt" style="transform: translate3d(-42px, 0px, 0px) scale3d(0, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"></div>
 			</div>

 			<div id="w-node-ef2ba7f64967-a7f64936" class="menu-bg"></div></div><div class="w-layout-grid grid-hero grid-margin grid-case case-top-pad">
 				<h1 id="w-node-c36a31f421b0-7e2264d4" class="big-header space red blue" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">농작물시세 그래프<br>저장함수<br></h1>
 				<div id="w-node-264990dd430f-7e2264d4" class="img-wrapper pad-bottom">
 					<img src="../static/images/4. 농작물시세 그래프 저장함수.png" sizes="(max-width: 300px) 43.921875px, 96vw" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" alt="" class="image-full-width">
					<img src="../static/images/5. 농작물 시세 그래프 저장.png" sizes="(max-width: 300px) 43.921875px, 96vw" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" alt="" class="image-full-width">	
 				</div>

 			 	<div id="w-node-8f498a4e67f5-7e2264d4" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="label">
 				</div>	
 				<h3 id="w-node-b5d9a1f82c38-7e2264d4" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="type-medium">	
 				<br>	
 				<br>
 				</h3>
 			</div>


			<div id="w-node-d36a82427cd2-7e2264d4" class="img-wrapper pad-bottom">
				<h1 id="w-node-c36a31f421b0-7e2264d4" class="big-header red blue" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; position:absolute; left:450; right:100; top:1700;">HTML<br>구현<br></h1>

				<img src="../static/images/6. 플라스크 HTML.png"   style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; float:right; " alt="" class="">

			</div>

<!--  				<h3  style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; position:absolute; left:100; "  class="type-medium">	일강수량, 평균기온, 최저기온, 최고기온, <br>평균풍속, 평균 상대습도, 평균 해변기압, <br>평균전운량의 데이터를 각 지역별로 정제 
 				<br>	
 				<br>
 				</h3> -->

	</div>


 			<div class="div-intro top-pad">
 				<div class="w-layout-grid grid-2 grid-gutter grid-margin">
 						<a id="w-node-1b1921b61252-7e2264d4" data-w-id="ec7e68a5-c8f4-9287-b70c-1b1921b61252" href="/code8" class="link-block w-inline-block w-clearfix" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
 							<div class="type-medium pad-bottom" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
 							</div>
 							<h2 style="color:rgb(0,0,0)" class="big-header">NEXT<br>
 							</h2>
 							<img src="https://uploads-ssl.webflow.com/5cf034b11440ce56a8f376bf/5d4d30217ec36697c4c56b16_arrow-blue.svg" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" alt="" class="arrow-red-next">
 						</a>

 						<a id="w-node-bf0d9619120a-7e2264d4" data-w-id="27439b33-2961-0169-0433-bf0d9619120a" href="/code6" class="link-block-2 pad-bottom w-inline-block" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
 							<div data-w-id="17258916-5264-5fd9-98b0-9a6291ff3632" class="type-medium pad-bottom" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">BACK
 							</div>
 							<img src="https://uploads-ssl.webflow.com/5cf034b11440ce56a8f376bf/5d4d30217ec36697c4c56b16_arrow-blue.svg" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(180deg) skew(0deg, 0deg); transform-style: preserve-3d;" alt="" class="arrow-back">
 						</a>

 					</div>
 				</div>

 				<div class="prefooter blue">
 					<div class="div-intro contact-red">
 						<div class="w-layout-grid grid-section-contact">
 							<div id="w-node-8c8d5af1708a-5af17087" class="big-type">PROJECT WEATHER<br></div>
 	<!-- 						<div id="w-node-8c8d5af1708d-5af17087" class="type-medium" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
 								<a href="tel:+4530136258" class="link-black">+45 30136258<br></a>
 								<a href="mailto:kontakt@favillastudio.dk" class="link-black">kontakt@favillastudio.dk</a>
 							</div> -->
 						</div>
 					</div>
 				</div>

<!--  				<div class="footer-section m section-2 section-3">
 					<div class="div-intro footer-wrapper">
 						<div class="w-layout-grid grid-5 m">
							<div id="w-node-052862b4f1f9-39751df0" class="label white invisible-mobile">Final Project
							</div>
							<div id="w-node-a9ac494c137f-39751df0" class="type-medium type-white">Project Weather</div>
							<div id="w-node-03ba997c8d7b-39751df0" class="type-medium type-white pad-40">
							</div>
 						</div>
 					</div>
 				</div> -->

 				<script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js?site=5cf034b11440ce56a8f376bf" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script><script src="https://uploads-ssl.webflow.com/5cf034b11440ce56a8f376bf/js/webflow.2ce1edd8d.js" type="text/javascript"></script><!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body></html>